// 侧边栏
.sidebar-container > .el-menu {
    width: 100% !important;
    min-height: 100%;
}

.sidebar-container .svg-icon {
    margin-right: 16px;
}

.el-submenu .el-menu-item {
    min-width: 150px !important;
}

.el-menu--horizontal .el-submenu {
    .el-submenu__title {
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
    }
    & > .el-menu {
        top: 50px
    }
}

.el-menu--horizontal > .el-submenu:hover .el-submenu__title {
    border-bottom: 2px solid #20a0ff;
}
